@model HymnHub.Models.Hymn

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;


@{
    ViewData["Title"] = "Details";
}
<div class="container" >
    <div class="row" id="hymn-container">
        <div class="col-lg-8" id="lyrics">
            <h1 style="margin-bottom: 20px;">@Html.DisplayFor(model => model.Title) Lyrics</h1>
            <div class="lyrics" contenteditable="false">
                @Html.DisplayFor(model=>model.Lyrics)
            </div>
           
        </div>
        
        <div class="col-lg-4" id="hymn-details">
            <div>
                <h3 class="pt-3 pb-3" style="text-align:center;">Details</h3>
                <dl class="row">
                    <dt class="col-sm-2 ml-2">
                        Number
                    </dt>
                    <dd class="col-sm-10">
                        #@Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Author)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Author)
                    </dd>
                </dl>
                <div>
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            
                            
                                <div id="action-buttons">
                                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-primary " style="color: blue; font-size: 18px;"><i class="bi bi-pen-fill"></i></a>
                                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger " style="color: red ;font-size: 18px;"><i class="bi bi-trash-fill icon-btn"></i></a>

                                </div>

                            
                        }
                    }
                    
                   
                </div>
            </div>
        </div>

    </div>


</div>
