
@{
    ViewData["Title"] = "EmptySearch";
}


<div style="height=100vh;">
    <h1 style="text-align: center;">Oops! No Hymn was found.</h1>

    <a href="hymns" class="btn"><i class="bi bi-heart icon-btn"></i></a>
</div>

