@model IEnumerable<HymnHub.Models.Hymn>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> signInManager;
@inject UserManager<IdentityUser> userManager;


@{
    ViewData["Title"] = "Index";
}
<div id="search-bar">
    <form class="d-flex search-container" role="search" asp-action="Index">
        <input class="form-control search-field" type="search" placeholder="Search for hymn" aria-label="Search"  name="searchString"/>
        <button class="btn search-btn" type="submit"><i class="bi bi-search"></i></button>
    </form>
</div>
<div id="hymn--display-container">
    <div class="container">
        <div id="hymn-intro">
            <h1>All Hymns</h1>
            <p style="color: dimgrey;">These are all the hymns on the site!</p>
        </div>
        <div id="hymn--list">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-lg-3">
                        <div class="card hymn-card">
                            <div class="card-body">
                                <div class="hymn-title">
                                    <h5 class="card-title"> @Html.DisplayFor(modelItem => item.Title)</h5>
                                    <h5 class="card-title">#@Html.DisplayFor(modelItem => item.Id)</h5>
                                </div>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Lyrics)</p>
                                <div class="action-buttons">
                                    <div>
                                        <a class="btn" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-music-note-list icon-btn"></i></a>
                                        
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {
                                            <div id="action-buttons">
                                                <a href="#" class="btn"><i class="bi bi-pen-fill icon-btn"></i></a>
                                            </div>
                                            
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
   